
button
{
   width: 60px;
   height: 60px;
   border-radius: 40px;
   border: none;
   background-color: rgb(242, 247, 247);
   color: rgb(17, 17, 17);
   font-size: 2rem;
   box-shadow: 0 0 5px rgb(24, 24, 23),
   0 0 25px rgb(175, 173, 173);
   cursor: pointer;
   
   
   
}
#root{
    width: 90%;
    padding: 30px;
    border: none;
    background-color:rgb(248, 246, 246);
    color: rgb(15, 14, 14);
    border: none;
    font-size: 1.4rem;
    text-align: right;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(234, 235, 229),
    0 0 25px rgb(247, 247, 245);
    border: 3px solid rgb(250, 248, 248);
}


button:hover
{
box-shadow: 0 0 3px rgb(238, 255, 0),


}


.display
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 20px 20px 20px 20px;
     
   
 
}
.calculator
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 300px;
    overflow: hidden;
   border: black;
   border: 2px solid black;
   box-shadow: 0 0 5px rgb(25, 26, 25),
   0 0 25px rgb(24, 24, 23);
}
.btn1{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 25px;
}
.btn2{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-right: 15px ;
    padding-top: 15px;
    padding-bottom: 20px;

   
}
.input
{
    width: 68%;
    text-align: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
  

}